.App {
  text-align: center;
  background: #333333;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
  color: #ffffff;
  font-weight: 900;
  overflow: visible;
  text-align: center;
  width: 70%;
  margin:  auto;
  line-height: 80%;
  padding-bottom: 8%;
  padding-top: 2%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#titleLogo{
  padding-top:100px;
}
.confirm{
  background-color: #ffffff;
  width: 70%;
  height: 30%;
  margin: auto;
}
#verification{
  background-color: #05bdd5;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 125%;
  text-align: center;
  padding: 4%;
}
#confirmButton{
  width: 86%;
  margin-left: 7%;
  margin-bottom: 4%;
  padding: 3%;
  background: none, #05bdd5;
  border: 0;
  box-shadow: #FFFFFF;
  border-radius: 3%;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 100%;
}
#idCheck{
  width: 86%;
  margin-left: 7%;
  padding: 3%;
  border: 0;
  outline: 0;
  text-align: center;
  font-size: 14px;
  background: transparent;
  border-bottom: 1px solid #999999;
  margin-bottom: 4%;
}
#welcomeMessage{
  color: white;
}
ul.footer li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.footer {
    background-color: #111;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
ul.footer li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}
.hashRouter{
  display: none;
}
.score{
    padding: 5px;
}
body {
  background-color: #333333;
}
#title {
  position: fixed;
  margin-top: 2%;
  display: inline-block;
  color: white;
  font-size: 200%;
  font-family: Roboto, sans-serif;
}
#logo {
  width: 12%;
  height: auto;
}
.header{
  margin: auto;
  background: #1e90ff;
}
.list-group {
  margin-top: 15%;
  list-style-type: none;
}
.list-group-item {
  background-color: #333333;
  color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
a {
  color: white;
}
.badge {
  background-color: #05bdd5;
}
#subject {
  text-align: left;
}
.button{
    color: black;
}